
.welcome-message-header {
  font-size: clamp(16px, 1.7vw, 40px);
}

.welcome-message-container {
    background-image: linear-gradient(
      to bottom,
      #d3cfce 0%,
      #d3cfce 30%,
      #d6c2da 100%
      );
      min-width: 600px;
}

.feature-welcome-message {
  display: flex;
  align-items: center;
  margin-top: 1vh;
  margin-left: 10%;
  font-size: clamp(9px, 1vw, 25px);
}

.welcome-horizontal-line {
    margin-top: 1.1vh;
    margin-bottom: 1.1vh;
    margin-left: 5%;
    margin-right: 5%;
    width: 89%;
    height: 0.4px;
    background-color: #2e2e2e;
}
.welcome-pitch-message {
    font-size: clamp(10px, 1.2vw, 25px);
    font-weight: 300;
    margin-left: 8%;
    margin-right: 8%;
}
