.crisp-card {
color: rgb(255, 255, 255);
width: 84%;
border: 1px solid black;
display: flex;
margin-bottom: 10px;
background-size: cover;
image-rendering: crisp-edges;
border-radius: 35vh;  /* or pixelated */
margin-top: 15px;
margin-left: 7vw;
}

.festival-name-container {
  width: 33%;
  margin-left: 40px;
  z-index: 1200;
  display: flex;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}

.concert-name-container {
  width: 22%;
  margin-left: 40px;
  z-index: 1200;
  display: flex;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}
.concerts-parent-container {
  display: flex;
  width: 100%;
}
.universal-concert-container-2 {
  height: 50px;
  margin-top: 0.5vh;
  z-index: 1200;
  display: flex;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}


.universal-concert-container-3 {
  height: 50px;
  margin-top: 0.5vh;
  z-index: 1200;
  display: flex;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}

@media (max-width: 900px) {
.universal-concert-container-3 {
  display: none;
}
}

.text-festival {
  font-size: clamp(11px, 1.1vw, 25px);
  line-height: 1.2;
  display: inline-block;       /* Required for proper centering of multiline */
  max-width: 100%;
  word-break: break-word;
}

.text-concert {
  font-size: clamp(9px, 1vw, 20px);
  line-height: 1.2;
  display: inline-block;       /* Required for proper centering of multiline */
  max-width: 100%;
  word-break: break-word;
}


.crisp-horizontal-line {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-size: 28px;
}

.crisp-horizontal-line-2 {
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1vh;
    font-size: 3.2vh;
}

.tour-concert-info-container {
    width: 80%;
    margin-left: 8%;
    height: 5vh;
    display: flex;
    background-color: #f1f1f1;
    margin-top: 0.32rem;
    border-radius: 20px;
    border: 1px solid #2e2e2e;
}

.get-prices {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.date-concert-text-resized {
  font-size: clamp(9px, 0.9vw, 15px);
}
.dates-container {
  width: 28%;
  height: 50px;
  margin-top: 1.2vh;
  z-index: 1200;
  display: flex;
  font-weight: bold;
  font-size: clamp(10px, 1.15vw, 30px);
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}

.location-container-concert {
  width: 20%;
  height: 50px;
  margin-top: 0.6vh;
  z-index: 1200;
  display: flex;
  font-weight: bolder;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}

.dates-container-concert {
  width: 14%;
  height: 50px;
  margin-top: 0.6vh;
  z-index: 1200;
  display: flex;
  font-weight: bolder;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}

.get-prices-container-concert {
  width: 12%;
  height: 50px;
  cursor: pointer;
  margin-top: 0.6vh;
  z-index: 1200;
  display: flex;
  font-weight: bolder;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}

.dates-crisp {
    color: white;
    line-height: 1.2;
    display: inline-block;       /* Required for proper centering of multiline */
    max-width: 100%;
    word-break: break-word;
    font-size: clamp(8px, 1vw, 20px);
}

.concert-crisp {
    color: #2e2e2e;
    line-height: 1.2;
    font-weight: bolder;
    display: inline-block;       /* Required for proper centering of multiline */
    max-width: 100%;
    background-color: white;
    height: 4vh;
    padding-right: 1.3vw;
    border-radius: 0.9vw;
    word-break: break-word;
    font-size: clamp(10px, 0.95vw, 18px);
}


.helper-text-concerts {
  text-decoration: underline dashed;
  cursor: pointer;
  font-size: clamp(9px, 0.9vw, 15px);
}


@media (max-width: 900px) {
.helper-text-concerts {
  display: none;
}
}


.concert-dates-crisp {
    color: #2e2e2e;
    line-height: 1.2;
    font-weight: bolder;
    display: flex;       /* Required for proper centering of multiline */
    max-width: 100%;
    background-color: white;
    height: clamp(30px, 4vh, 50px);
    padding-right: 1.3vw;
    border-radius: 0.9vw;
    word-break: break-word;
}

.get-prices-crisp {
    color: #2e2e2e;
    line-height: 1.2;
    font-weight: bolder;
    display: flex;       /* Required for proper centering of multiline */
    max-width: 100%;
    background: linear-gradient(to right, #ffffff 0%, #d4b4d8 100%);
    height: 65%;
    padding-right: 1.3vw;
    border-radius: 0.9vw;
    word-break: break-word;
    font-size: 0.95vw;
}

.dates-icon-large {
    margin-right: 1vw;
    font-size: clamp(16px, 1.8vw, 30px);
}

.get-tickets-icon {
    margin-right: 1vw;
    font-size: 22px;
}

@media (max-width: 700px) {
  .genre-container {
    display: none;
  }
}

.get-tickets-fade {
   background: linear-gradient(to right, #ff7c62 0%, #2c0434 100%);
   cursor: pointer;
}

.get-tickets-tour-size {
  height: 4.9vh;
  margin-left: auto;
  width: 20%;
  border-radius: 0px 2vh 2vh 0px;
}

.get-tickets-concert {
  height: clamp(40px, 4.9vh, 150px);
  margin-left: 2.5%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: clamp(8px, 1vh, 20px);
  margin-right: 20%;
  width: 90%;
  border-radius: 2vh;
}

.locations-container {
  width: 25%;
  height: 1.2vh;
  margin-top: 3.7vh;

  z-index: 1200;
  display: flex;
  margin-right: 2%;
  font-size: clamp(10px, 1.2vw, 30px);
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}


@media (max-width: 700px) {
  .locations-container {
    display: none;
  }
}

.locations-crisp {
    font-size: 12px;
    line-height: 1.2;
    display: inline-block;       /* Required for proper centering of multiline */
    max-width: 100%;
    word-break: break-word;
    font-size: clamp(8px, 1vw, 20px);}


.see-all-button {
  cursor: pointer;
  color: #141313;
  font-size: clamp(14px, 1.1vw, 25px);
  margin-left: 9.5%;
  font-weight: bold;
  margin-top: 1.1%;
}

.see-all-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.universal-subconcert-container {
  height: 5vh;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
  z-index: 1200;
  display: flex;
}


.universal-subconcert-container-arena {
  height: 5vh;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
  z-index: 1200;
  display: flex;
}

@media (max-width: 1000px) {
.universal-subconcert-container-arena {
  display: none;
}
}
.mini-horizontal-line {
  height: 60%;
  margin-top: 1vh;
  width: 0.15vw;
  background-color: #2e2e2e;
  margin-right: 1%;
  margin-left: 1%;
}

.center-buy-tickets-text {
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
  font-size: clamp(10px, 1.05vw, 20px);
  margin-top: 0;
  color: #f0eded;
}

.center-buy-tickets-concert {
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
  font-size: clamp(10px, 1.1vw, 20px);
  color: #ffffff;
}

.get-tickets-concert-fade {
   background: linear-gradient(to right, #d4b4d8 0%, #08296c 100%);
   cursor: pointer;
}