.crisp-card {
color: rgb(255, 255, 255);
width: 84%;
border: 1px solid black;
display: flex;
margin-bottom: 10px;
background-size: cover;
image-rendering: crisp-edges;
border-radius: 35vh;  /* or pixelated */
margin-top: 15px;
margin-left: 110px;
}

.festival-name-container {
  width: 33%;
  margin-left: 40px;
  z-index: 1200;
  display: flex;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}

.concert-name-container {
  width: 22%;
  margin-left: 40px;
  z-index: 1200;
  display: flex;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}

.text-festival {
  font-size: 1.1vw;
  line-height: 1.2;
  display: inline-block;       /* Required for proper centering of multiline */
  max-width: 100%;
  word-break: break-word;
}

.text-concert {
  font-size: 1vw;
  line-height: 1.2;
  display: inline-block;       /* Required for proper centering of multiline */
  max-width: 100%;
  word-break: break-word;
}


.crisp-horizontal-line {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-size: 28px;
}

.crisp-horizontal-line-2 {
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1vh;
    font-size: 3.2vh;
}

.tour-concert-info-container {
    width: 80%;
    margin-left: 8%;
    height: 5vh;
    display: flex;
    background-color: #f1f1f1;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #2e2e2e;
}

.get-prices {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.dates-container {
  width: 28%;
  height: 50px;
  margin-top: 1.2vh;
  z-index: 1200;
  display: flex;
  font-weight: bold;
  font-size: 1.15vw;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}

.location-container-concert {
  width: 20%;
  height: 50px;
  margin-top: 0.6vh;
  z-index: 1200;
  display: flex;
  font-weight: bolder;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}

.dates-container-concert {
  width: 14%;
  height: 50px;
  margin-top: 0.6vh;
  z-index: 1200;
  display: flex;
  font-weight: bolder;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}

.get-prices-container-concert {
  width: 12%;
  height: 50px;
  cursor: pointer;
  margin-top: 0.6vh;
  z-index: 1200;
  display: flex;
  font-weight: bolder;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}

.dates-crisp {
    color: white;
    line-height: 1.2;
    display: inline-block;       /* Required for proper centering of multiline */
    max-width: 100%;
    word-break: break-word;
    font-size: 1vw;
}

.concert-crisp {
    color: #2e2e2e;
    line-height: 1.2;
    font-weight: bolder;
    display: inline-block;       /* Required for proper centering of multiline */
    max-width: 100%;
    background-color: white;
    height: 65%;
    padding-right: 1.3vw;
    border-radius: 0.9vw;
    word-break: break-word;
    font-size: 0.95vw;
}

.concert-dates-crisp {
    color: #2e2e2e;
    line-height: 1.2;
    font-weight: bolder;
    display: flex;       /* Required for proper centering of multiline */
    max-width: 100%;
    background-color: white;
    height: 65%;
    padding-right: 1.3vw;
    border-radius: 0.9vw;
    word-break: break-word;
    font-size: 0.95vw;
}

.get-prices-crisp {
    color: #2e2e2e;
    line-height: 1.2;
    font-weight: bolder;
    display: flex;       /* Required for proper centering of multiline */
    max-width: 100%;
    background: linear-gradient(to right, #ffffff 0%, #d4b4d8 100%);
    height: 65%;
    padding-right: 1.3vw;
    border-radius: 0.9vw;
    word-break: break-word;
    font-size: 0.95vw;
}

.dates-icon-large {
    margin-right: 12px;
    font-size: 22px;
}

.get-tickets-fade {
   background: linear-gradient(to right, #ff7c62 0%, #2c0434 100%);
   cursor: pointer;
}

.get-tickets-tour-size {
  height: 4.9vh;
  margin-left: 2.5%;
  width: 20%;
  border-radius: 0px 2vh 2vh 0px;
}

.get-tickets-concert {
  height: 4.9vh;
  margin-left: 2.5%;
  width: 80%;
  margin-top: 7%;
  margin-right: 20%;
  border-radius: 2vh;
}
.locations-container {
  width: 300px;
  height: 1.2vh;
  margin-top: 3.5vh;
  z-index: 1200;
  display: flex;
  font-size: 1.2vw;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
}

div {
  font-size: 0.95vw;
}
.locations-crisp {
    font-size: 12px;
    line-height: 1.2;
    display: inline-block;       /* Required for proper centering of multiline */
    max-width: 100%;
    word-break: break-word;
    font-size: 20px;
}

.universal-subconcert-container {
  height: 5vh;
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
  z-index: 1200;
  display: flex;
}

.mini-horizontal-line {
  height: 60%;
  margin-top: 1vh;
  width: 0.15vw;
  background-color: #2e2e2e;
  margin-right: 1%;
  margin-left: 1%;
}

.center-buy-tickets-text {
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
  font-size: 1.05vw;
  margin-top: 0;
  color: #f0eded;
}

.center-buy-tickets-concert {
  justify-content: center;     /* Horizontal centering */
  align-items: center;         /* Vertical centering */
  text-align: center;
  font-size: 1.1vw;
  color: #ffffff;
}

.get-tickets-concert-fade {
   background: linear-gradient(to right, #d4b4d8 0%, #08296c 100%);
   cursor: pointer;
}